*{
	font-family: 'Poppins', sans-serif;;
}
html, body{
	box-sizing: content-box;
	height: 100%;
}

body{
	background: #f5fbff;
}

body::before{
    content: '';
    background: url('../img/bg-bottom.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#add {
	display: none;
}

.navbar{
	background-color: transparent !important;
}

.navbar-brand{
	font-size: 32px;
	color: black !important;
	font-weight: 300;
}

.table{
	top: 0px;
	position: absolute;
	background: white;
	box-shadow: 0px 10px 30px 5px rgba(72, 85, 106, 0.2);
<<<<<<< HEAD
	animation: fade-in ease 0.3s;
=======
	animation: fade-in ease 0.3s, move-up ease 2s;
>>>>>>> ad4bc94990485481361d9eab6e2ccc33747aabc3
}

.table thead{
	background: #bbdefb;
}

.table thead tr{
	border-radius: 10px 10px 0 0 !important;
}

<<<<<<< HEAD
=======
@keyframes move-up {
	0% {
		top: 25px;
	}
	100%{
		top: 0px;
	}
	
}

>>>>>>> ad4bc94990485481361d9eab6e2ccc33747aabc3
@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}
